body {
  font-family: monospace;
  background-color: white;
  color: black;
  text-align: center;
  margin: 0.4em;
  white-space: nowrap;
  overflow-y: scroll;
  direction: rtl;
}

main, nav {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  direction: ltr;
}

nav {
  margin: 0.9em 0;
}

main {
  width: 80ch;
  border: dotted 0.2em;
  padding: 0 0.6em;
}

a {
  color: #0c4984;
}

nav a {
  padding: 0.1em;
  display: block;
}

main a {
  display: inline-block;
  max-width: 80ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
